//- MIXIN :: START

mixin tableRow(codeValArr, descriptionVal)
	tr
		td
			.ui__table-code
				each val in codeValArr
					code!= val
		td!= descriptionVal


mixin codePreview(classMod, labelName, varCodeVal)
	pre.code(class!= classMod)
		-
			let str = varCodeVal;
		label!= labelName
		code
			= str


//- MIXIN :: END

