///
/// ADDITIONALLY
/// ===============
$maxWidth: 1100px;
$paddingLeft: 10px;
$paddingRight: $paddingLeft;

%grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $paddingRight;
  padding-left: $paddingLeft;
}


///
/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }

  &-fluid {
    @extend %grid;
    max-width: 100%;
  }
}
