// SECTION :: START

p.ui__title Stroke button

.ui__content

  .ui__btn-wrapper
    div
      .ui__btn
        a.st.btn.btn--stroke(href='#')
          span Previous

  .ui__code
    p.ui__code-title Code
    +codePreview('code-html', 'HTML', `<a class="st btn btn--stroke" href="#">
  <span>Previous</span>
</a>`)

// SECTION :: END
