// SECTION :: START

p.ui__title Arrow button

.ui__content

  .ui__btn-wrapper
    div
      .ui__btn
        p.ui__btn-title Arrow button - green
        a.st.navigation(href="#")
          svg(width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z')

    div
      .ui__btn
        p.ui__btn-title Arrow button - green reverse
        a.st.navigation.navigation--reverse(href="#")
          svg(width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z')

    div
      .ui__btn
        p.ui__btn-title Arrow button - grey
        a.st.navigation.navigation--grey(href="#")
          svg(width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z')

    div
      .ui__btn
        p.ui__btn-title Arrow button - grey reverse
        a.st.navigation.navigation--reverse.navigation--grey(href="#")
          svg(width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z')

  .ui__code
    p.ui__code-title Code
    +codePreview('code-html', 'HTML', `<a class="st navigation" href="#">
  <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z"></path>
  </svg>
</a>`)
    +codePreview('code-html', 'HTML', `<a class="st navigation navigation--reverse" href="#">
  <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z"></path>
  </svg>
</a>`)
    +codePreview('code-html', 'HTML', `<a class="st navigation navigation--grey" href="#">
  <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z"></path>
  </svg>
</a>`)
    +codePreview('code-html', 'HTML', `<a class="st navigation navigation--reverse navigation--grey" href="#">
  <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 5.66627V8.33287C0 11.3101 1.78814e-07 12.7986 0.97101 13.3813C1.94202 13.9639 3.2555 13.2634 5.8824 11.8623L8.3824 10.529C11.2941 8.97607 12.75 8.19957 12.75 6.99957C12.75 5.79957 11.2941 5.02307 8.3824 3.47016L5.8824 2.13682C3.2555 0.73582 1.94202 0.0353098 0.97101 0.61792C1.78814e-07 1.20052 0 2.68909 0 5.66627Z"></path>
  </svg>
</a>`)

// SECTION :: END
