// SECTION :: START

p.ui__title Labels

.ui__content

  .ui__btn-wrapper
    div
      .ui__btn
        .st.labels.labels--up
          span UP
    div
      .ui__btn
        .st.labels.labels--warn
          span WARN
    div
      .ui__btn
        .st.labels.labels--down
          span DOWN
    div
      .ui__btn
        .st.labels.labels--maint
          span MAINT
    div
      .ui__btn
        .st.labels.labels--unknown
          span UNKNOWN

  .ui__code
    p.ui__code-title Code
    +codePreview('code-html', 'HTML', `<div class="st labels labels--up">
  <span>UP</span>
</div>`)
    +codePreview('code-html', 'HTML', `<div class="st labels labels--warn">
  <span>UP</span>
</div>`)
    +codePreview('code-html', 'HTML', `<div class="st labels labels--down">
  <span>UP</span>
</div>`)
    +codePreview('code-html', 'HTML', `<div class="st labels labels--maint">
  <span>UP</span>
</div>`)
    +codePreview('code-html', 'HTML', `<div class="st labels labels--unknown">
  <span>UP</span>
</div>`)

// SECTION :: END
