/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 8, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 150px 0 0 200px;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 46, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 49, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 56, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 66, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 103, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 126, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* COLOR VARIABLE PALETTE */
/* ===== ===== ===== ===== ===== ===== ===== ===== */
/* SHADOW PALETTE */
/* ===== ===== ===== ===== ===== ===== ===== ===== */
/* line 34, src/scss/statusgator-ui.scss */
.st {
  /* COLOR ===== */
  /* ===== ===== ===== ===== ===== */
  /* SHADOW */
  /* ===== ===== ===== ===== ===== */
  /* HEADINGS */
  /* ===== ===== ===== ===== ===== */
  /* PARAGRAPHS */
  /* ===== ===== ===== ===== ===== */
  /* PARAGRAPHS */
  /* ===== ===== ===== ===== ===== */
  /* TEXT SELECTION */
  /* ===== ===== ===== ===== ===== */
}

/* line 39, src/scss/statusgator-ui.scss */
.st.primary-green-bg {
  background-color: #21BF73;
}

/* line 42, src/scss/statusgator-ui.scss */
.st.primary-green-color {
  color: #21BF73;
}

/* line 45, src/scss/statusgator-ui.scss */
.st.primary-green-border {
  border-color: #21BF73;
}

/* line 50, src/scss/statusgator-ui.scss */
.st.primary-grey-bg {
  background-color: #1B2124;
}

/* line 53, src/scss/statusgator-ui.scss */
.st.primary-grey-color {
  color: #1B2124;
}

/* line 56, src/scss/statusgator-ui.scss */
.st.primary-grey-border {
  border-color: #1B2124;
}

/* line 61, src/scss/statusgator-ui.scss */
.st.primary-dark-blue-bg {
  background-color: #163A5F;
}

/* line 64, src/scss/statusgator-ui.scss */
.st.primary-dark-blue-color {
  color: #163A5F;
}

/* line 67, src/scss/statusgator-ui.scss */
.st.primary-dark-blue-border {
  border-color: #163A5F;
}

/* line 75, src/scss/statusgator-ui.scss */
.st.shade-grey-1.shade-grey-1--bg {
  background-color: #F3F5F7;
}

/* line 78, src/scss/statusgator-ui.scss */
.st.shade-grey-1.shade-grey-1--color {
  color: #F3F5F7;
}

/* line 81, src/scss/statusgator-ui.scss */
.st.shade-grey-1.shade-grey-1--border {
  border-color: #F3F5F7;
}

/* line 86, src/scss/statusgator-ui.scss */
.st.shade-grey-2.shade-grey-1--bg {
  background-color: #EFF0F1;
}

/* line 89, src/scss/statusgator-ui.scss */
.st.shade-grey-2.shade-grey-1--color {
  color: #EFF0F1;
}

/* line 92, src/scss/statusgator-ui.scss */
.st.shade-grey-2.shade-grey-1--border {
  border-color: #EFF0F1;
}

/* line 97, src/scss/statusgator-ui.scss */
.st.shade-grey-3.shade-grey-1--bg {
  background-color: #DDE0E3;
}

/* line 100, src/scss/statusgator-ui.scss */
.st.shade-grey-3.shade-grey-1--color {
  color: #DDE0E3;
}

/* line 103, src/scss/statusgator-ui.scss */
.st.shade-grey-3.shade-grey-1--border {
  border-color: #DDE0E3;
}

/* line 108, src/scss/statusgator-ui.scss */
.st.shade-grey-4.shade-grey-1--bg {
  background-color: #CDD1D5;
}

/* line 111, src/scss/statusgator-ui.scss */
.st.shade-grey-4.shade-grey-1--color {
  color: #CDD1D5;
}

/* line 114, src/scss/statusgator-ui.scss */
.st.shade-grey-4.shade-grey-1--border {
  border-color: #CDD1D5;
}

/* line 122, src/scss/statusgator-ui.scss */
.st.tone-light-green-bg {
  background-color: #99F3BD;
}

/* line 125, src/scss/statusgator-ui.scss */
.st.tone-light-green-color {
  color: #99F3BD;
}

/* line 128, src/scss/statusgator-ui.scss */
.st.tone-light-green-border {
  border-color: #99F3BD;
}

/* line 133, src/scss/statusgator-ui.scss */
.st.tone-red-bg {
  background-color: #FD5E53;
}

/* line 136, src/scss/statusgator-ui.scss */
.st.tone-red-color {
  color: #FD5E53;
}

/* line 139, src/scss/statusgator-ui.scss */
.st.tone-red-border {
  border-color: #FD5E53;
}

/* line 144, src/scss/statusgator-ui.scss */
.st.tone-orange-bg {
  background-color: #F5BE4F;
}

/* line 147, src/scss/statusgator-ui.scss */
.st.tone-orange-color {
  color: #F5BE4F;
}

/* line 150, src/scss/statusgator-ui.scss */
.st.tone-orange-border {
  border-color: #F5BE4F;
}

/* line 155, src/scss/statusgator-ui.scss */
.st.tone-sea-wave-bg {
  background-color: #1597A8;
}

/* line 158, src/scss/statusgator-ui.scss */
.st.tone-sea-wave-color {
  color: #1597A8;
}

/* line 161, src/scss/statusgator-ui.scss */
.st.tone-sea-wave-border {
  border-color: #1597A8;
}

/* line 166, src/scss/statusgator-ui.scss */
.st.tone-light-grey-bg {
  background-color: #E1E8F2;
}

/* line 169, src/scss/statusgator-ui.scss */
.st.tone-light-grey-color {
  color: #E1E8F2;
}

/* line 172, src/scss/statusgator-ui.scss */
.st.tone-light-grey-border {
  border-color: #E1E8F2;
}

/* line 182, src/scss/statusgator-ui.scss */
.st.shadow-xsmall {
  -webkit-box-shadow: 0px 40px 80px rgba(22, 58, 95, 0.05);
          box-shadow: 0px 40px 80px rgba(22, 58, 95, 0.05);
}

/* line 185, src/scss/statusgator-ui.scss */
.st.shadow-small {
  -webkit-box-shadow: 0px 4px 60px rgba(22, 58, 95, 0.07);
          box-shadow: 0px 4px 60px rgba(22, 58, 95, 0.07);
}

/* line 188, src/scss/statusgator-ui.scss */
.st.shadow-medium {
  -webkit-box-shadow: 0px 0px 40px rgba(28, 202, 135, 0.1);
          box-shadow: 0px 0px 40px rgba(28, 202, 135, 0.1);
}

/* line 191, src/scss/statusgator-ui.scss */
.st.shadow-large {
  -webkit-box-shadow: 0px 10px 80px rgba(28, 202, 135, 0.2);
          box-shadow: 0px 10px 80px rgba(28, 202, 135, 0.2);
}

/* line 194, src/scss/statusgator-ui.scss */
.st.shadow-xlarge {
  -webkit-box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
          box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
}

/* line 203, src/scss/statusgator-ui.scss */
.st.heading-xbig {
  font-weight: bold;
  font-size: 64px;
  line-height: 88px;
  color: #163A5F;
}

/* line 209, src/scss/statusgator-ui.scss */
.st.heading-big {
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  color: #163A5F;
}

/* line 215, src/scss/statusgator-ui.scss */
.st.heading-large {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #163A5F;
}

/* line 221, src/scss/statusgator-ui.scss */
.st.heading-medium {
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #163A5F;
}

/* line 227, src/scss/statusgator-ui.scss */
.st.heading-small {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #163A5F;
}

/* line 239, src/scss/statusgator-ui.scss */
.st.paragraphs-large {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #576472;
}

/* line 245, src/scss/statusgator-ui.scss */
.st.paragraphs-medium {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #576472;
}

/* line 251, src/scss/statusgator-ui.scss */
.st.paragraphs-small {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #576472;
}

/* line 257, src/scss/statusgator-ui.scss */
.st.paragraphs-xsmall {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #576472;
}

/* line 268, src/scss/statusgator-ui.scss */
.st.labels {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #576472;
}

/* line 274, src/scss/statusgator-ui.scss */
.st.labels-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #576472;
}

/* line 286, src/scss/statusgator-ui.scss */
.st.mark mark {
  background-color: #21bf73;
  color: #ffffff;
}

/*# sourceMappingURL=maps/statusgator-ui.css.map */
