// SECTION :: START

section#sidebar.sidebar
  .sidebar__wrapper

    ol
      li
        a.is-active(href="#") Colours
      li
        a(href="#") Typography
      li
        a(href="#") Layout & Grid
      li
        a(href="#") Forms
      li
        a(href="#") Buttons
      li
        a(href="#") Placeholders
      li
        a(href="#") Navigation
      li
        a(href="#") Containers

// SECTION :: END
