// SECTION :: START

section#sidebar.sidebar
  .sidebar__wrapper

    ol
      li
        a.is-active(href="#" sidebar-btn-js data-id='1') Colours
        div
          a.is-active(href="#" sidebar-inner-btn-js data-container='1' data-inner-id='1') Primary colours
          a(href="#" sidebar-inner-btn-js data-container='1' data-inner-id='2') Shade of greys
          a(href="#" sidebar-inner-btn-js data-container='1' data-inner-id='3') Tone colours
          a(href="#" sidebar-inner-btn-js data-container='1' data-inner-id='4') Shadows
      li
        a(href="#" sidebar-btn-js data-id='2') Typography
        div
          a(href="#" sidebar-inner-btn-js data-container='2' data-inner-id='1') Headings
          a(href="#" sidebar-inner-btn-js data-container='2' data-inner-id='2') Paragraphs
          a(href="#" sidebar-inner-btn-js data-container='2' data-inner-id='3') Labels
          a(href="#" sidebar-inner-btn-js data-container='2' data-inner-id='4') Text selection
      li
        a(href="#" sidebar-btn-js data-id='3') Layout & Grid
        div
          a(href="#" sidebar-inner-btn-js data-container='3' data-inner-id='1') Layouts
          a(href="#" sidebar-inner-btn-js data-container='3' data-inner-id='2') Corner radius
      li
        a(href="#" sidebar-btn-js data-id='4') Forms
        div
          a(href="#" sidebar-inner-btn-js data-container='4' data-inner-id='1') Input fields
          a(href="#" sidebar-inner-btn-js data-container='4' data-inner-id='2') Selection controls
          a(href="#" sidebar-inner-btn-js data-container='4' data-inner-id='3') Search forms
          a(href="#" sidebar-inner-btn-js data-container='4' data-inner-id='4') Dropdown
      li
        a.is-disabled(href="#" sidebar-btn-js data-id='5') Buttons
      li
        a.is-disabled(href="#" sidebar-btn-js data-id='6') Placeholders
      li
        a.is-disabled(href="#" sidebar-btn-js data-id='7') Navigation
      li
        a.is-disabled(href="#" sidebar-btn-js data-id='8') Containers

// SECTION :: END
