// SECTION :: START

section#ui.ui
  .c-grid
    .ui__wrapper

      .ui__container.is-active(data-id='1')

        .ui__row.is-active(data-inner-id='1')

          include colours/primary-color

        .ui__row(data-inner-id='2')

          include colours/shade-of-greys

        .ui__row(data-inner-id='3')

          include colours/tone-colours

        .ui__row(data-inner-id='4')

          include colours/shadow

      .ui__container(data-id='2')

        .ui__row.is-active(data-inner-id='1')

          p.ui__title Headings

        .ui__row(data-inner-id='2')

          p.ui__title Paragraphs

        .ui__row(data-inner-id='3')

          p.ui__title Labels

        .ui__row(data-inner-id='4')

          p.ui__title Text selection


      .ui__container(data-id='3')



      .ui__container(data-id='4')



      .ui__container(data-id='5')



      .ui__container(data-id='6')



      .ui__container(data-id='7')



      .ui__container(data-id='8')




// SECTION :: END
