// META TAGS
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
meta(http-equiv="x-ua-compatible" content="ie=edge")

// TITLE
title!= title

// FAVICON
//- link(rel="shortcut icon" href="./icon/favicon.ico")
//- link(rel="icon" type="image/png" href="./icon/favicon.png")

link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")

include _style
