include ../utilities/_mixin

doctype html
html(lang="en")

  head
    include _head

  body

    include ../components/header
    include ../components/sidebar


    block content


  block script
    include _script
