// SECTION :: START

p.ui__title Avatars

.ui__content
  .ui__form-wrapper
    div
      .ui__form(style='padding-bottom: 20px;')
        .st.avatars
          p.st.avatars__text JM


  .ui__code
    p.ui__code-title Code
    +codePreview('code-html', 'HTML', `<div class="st avatars">
  <p class="st avatars__text">JM</p>
</div>`)

// SECTION :: END
