/// UTILITIES
@import "_utilities/function";
@import "_utilities/mixin";
@import "_utilities/extend";
@import "_utilities/variable";
@import "_shared/main-setting-reset";


/* COLOR VARIABLE PALETTE */
$primary-green: #21BF73;
$primary-grey: #1B2124;
$primary-dark-blue: #163A5F;

$shade-greys-1: #F3F5F7;
$shade-greys-2: #EFF0F1;
$shade-greys-3: #DDE0E3;
$shade-greys-4: #CDD1D5;

$tone-light-green: #99F3BD;
$tone-red: #FD5E53;
$tone-orange: #F5BE4F;
$tone-sea-wave: #1597A8;
$tone-light-grey: #E1E8F2;
/* ===== ===== ===== ===== ===== ===== ===== ===== */

/* SHADOW PALETTE */
$shadow-xsmall: 0px 40px 80px rgba(22, 58, 95, 0.05);
$shadow-small: 0px 4px 60px rgba(22, 58, 95, 0.07);
$shadow-medium: 0px 0px 40px rgba(28, 202, 135, 0.1);
$shadow-large: 0px 10px 80px rgba(28, 202, 135, 0.2);
$shadow-xlarge: 0px 10px 30px rgba(22, 58, 95, 0.05);
/* ===== ===== ===== ===== ===== ===== ===== ===== */

/* CORNER RADIUS */
$rounded-lg: 20px;
$rounded-md: 10px;
$rounded-sm: 6px;
/* ===== ===== ===== ===== ===== ===== ===== ===== */

.st {

	/* COLOR ===== */
	&.primary {
		&-green {
			&-bg {
				background-color: $primary-green;
			}
			&-color {
				color: $primary-green;
			}
			&-border {
				border-color: $primary-green;
			}
		}
		&-grey {
			&-bg {
				background-color: $primary-grey;
			}
			&-color {
				color: $primary-grey;
			}
			&-border {
				border-color: $primary-grey;
			}
		}
		&-dark-blue {
			&-bg {
				background-color: $primary-dark-blue;
			}
			&-color {
				color: $primary-dark-blue;
			}
			&-border {
				border-color: $primary-dark-blue;
			}
		}
	}

	&.shade-grey {
		&-1 {
			&.shade-grey-1--bg {
				background-color: $shade-greys-1;
			}
			&.shade-grey-1--color {
				color: $shade-greys-1;
			}
			&.shade-grey-1--border {
				border-color: $shade-greys-1;
			}
		}
		&-2 {
			&.shade-grey-1--bg {
				background-color: $shade-greys-2;
			}
			&.shade-grey-1--color {
				color: $shade-greys-2;
			}
			&.shade-grey-1--border {
				border-color: $shade-greys-2;
			}
		}
		&-3 {
			&.shade-grey-1--bg {
				background-color: $shade-greys-3;
			}
			&.shade-grey-1--color {
				color: $shade-greys-3;
			}
			&.shade-grey-1--border {
				border-color: $shade-greys-3;
			}
		}
		&-4 {
			&.shade-grey-1--bg {
				background-color: $shade-greys-4;
			}
			&.shade-grey-1--color {
				color: $shade-greys-4;
			}
			&.shade-grey-1--border {
				border-color: $shade-greys-4;
			}
		}
	}

	&.tone {
		&-light-green {
			&-bg {
				background-color: $tone-light-green;
			}
			&-color {
				color: $tone-light-green;
			}
			&-border {
				border-color: $tone-light-green;
			}
		}
		&-red {
			&-bg {
				background-color: $tone-red;
			}
			&-color {
				color: $tone-red;
			}
			&-border {
				border-color: $tone-red;
			}
		}
		&-orange {
			&-bg {
				background-color: $tone-orange;
			}
			&-color {
				color: $tone-orange;
			}
			&-border {
				border-color: $tone-orange;
			}
		}
		&-sea-wave {
			&-bg {
				background-color: $tone-sea-wave;
			}
			&-color {
				color: $tone-sea-wave;
			}
			&-border {
				border-color: $tone-sea-wave;
			}
		}
		&-light-grey {
			&-bg {
				background-color: $tone-light-grey;
			}
			&-color {
				color: $tone-light-grey;
			}
			&-border {
				border-color: $tone-light-grey;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */


	/* SHADOW */
	&.shadow {
		&-xsmall {
			box-shadow: $shadow-xsmall;
		}
		&-small {
			box-shadow: $shadow-small;
		}
		&-medium {
			box-shadow: $shadow-medium;
		}
		&-large {
			box-shadow: $shadow-large;
		}
		&-xlarge {
			box-shadow: $shadow-xlarge;
		}
	}
	/* ===== ===== ===== ===== ===== */


	/* HEADINGS */
	&.heading {
		&-xbig {
			font-weight: bold;
			font-size: 64px;
			line-height: 88px;
			color: #163A5F;
		}
		&-big {
			font-weight: bold;
			font-size: 48px;
			line-height: 66px;
			color: #163A5F;
		}
		&-large {
			font-weight: bold;
			font-size: 36px;
			line-height: 50px;
			color: #163A5F;
		}
		&-medium {
			font-weight: bold;
			font-size: 30px;
			line-height: 41px;
			color: #163A5F;
		}
		&-small {
			font-weight: bold;
			font-size: 24px;
			line-height: 33px;
			color: #163A5F;
		}
	}
	/* ===== ===== ===== ===== ===== */


	/* PARAGRAPHS */
	&.paragraphs {
		&-large {
			font-weight: normal;
			font-size: 18px;
			line-height: 28px;
			color: #576472;
		}
		&-medium {
			font-weight: normal;
			font-size: 16px;
			line-height: 26px;
			color: #576472;
		}
		&-small {
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			color: #576472;
		}
		&-xsmall {
			font-weight: normal;
			font-size: 12px;
			line-height: 20px;
			color: #576472;
		}
	}
	/* ===== ===== ===== ===== ===== */


	/* PARAGRAPHS */
	&.labels {
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: #576472;

		&-bold {
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			color: #576472;
		}
	}
	/* ===== ===== ===== ===== ===== */


	/* TEXT SELECTION */
	&.mark {
		mark {
			background-color: #21bf73;
			color: #ffffff;
		}
	}
	/* ===== ===== ===== ===== ===== */


	/* LAYOUTS */
	&.container-fluid,
	&.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	&.container-fluid {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	&.row {
		box-sizing: border-box;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -0.5rem;
		margin-left: -0.5rem;
	}

	&.col-xs,
	&.col-xs-1,
	&.col-xs-2,
	&.col-xs-3,
	&.col-xs-4,
	&.col-xs-5,
	&.col-xs-6,
	&.col-xs-7,
	&.col-xs-8,
	&.col-xs-9,
	&.col-xs-10,
	&.col-xs-11,
	&.col-xs-12,
	&.col-xs-offset-0,
	&.col-xs-offset-1,
	&.col-xs-offset-2,
	&.col-xs-offset-3,
	&.col-xs-offset-4,
	&.col-xs-offset-5,
	&.col-xs-offset-6,
	&.col-xs-offset-7,
	&.col-xs-offset-8,
	&.col-xs-offset-9,
	&.col-xs-offset-10,
	&.col-xs-offset-11,
	&.col-xs-offset-12 {
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	&.col-xs {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%;
	}

	&.col-xs-1 {
		-ms-flex-preferred-size: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	&.col-xs-2 {
		-ms-flex-preferred-size: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	&.col-xs-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}

	&.col-xs-4 {
		-ms-flex-preferred-size: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	&.col-xs-5 {
		-ms-flex-preferred-size: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	&.col-xs-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%;
	}

	&.col-xs-7 {
		-ms-flex-preferred-size: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	&.col-xs-8 {
		-ms-flex-preferred-size: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	&.col-xs-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%;
	}

	&.col-xs-10 {
		-ms-flex-preferred-size: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	&.col-xs-11 {
		-ms-flex-preferred-size: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	&.col-xs-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}

	&.col-xs-offset-0 {
		margin-left: 0;
	}

	&.col-xs-offset-1 {
		margin-left: 8.33333333%;
	}

	&.col-xs-offset-2 {
		margin-left: 16.66666667%;
	}

	&.col-xs-offset-3 {
		margin-left: 25%;
	}

	&.col-xs-offset-4 {
		margin-left: 33.33333333%;
	}

	&.col-xs-offset-5 {
		margin-left: 41.66666667%;
	}

	&.col-xs-offset-6 {
		margin-left: 50%;
	}

	&.col-xs-offset-7 {
		margin-left: 58.33333333%;
	}

	&.col-xs-offset-8 {
		margin-left: 66.66666667%;
	}

	&.col-xs-offset-9 {
		margin-left: 75%;
	}

	&.col-xs-offset-10 {
		margin-left: 83.33333333%;
	}

	&.col-xs-offset-11 {
		margin-left: 91.66666667%;
	}

	@media only screen and (min-width: 48em) {
		&.container {
			max-width: 49rem;
		}

		&.col-sm,
		&.col-sm-1,
		&.col-sm-2,
		&.col-sm-3,
		&.col-sm-4,
		&.col-sm-5,
		&.col-sm-6,
		&.col-sm-7,
		&.col-sm-8,
		&.col-sm-9,
		&.col-sm-10,
		&.col-sm-11,
		&.col-sm-12,
		&.col-sm-offset-0,
		&.col-sm-offset-1,
		&.col-sm-offset-2,
		&.col-sm-offset-3,
		&.col-sm-offset-4,
		&.col-sm-offset-5,
		&.col-sm-offset-6,
		&.col-sm-offset-7,
		&.col-sm-offset-8,
		&.col-sm-offset-9,
		&.col-sm-offset-10,
		&.col-sm-offset-11,
		&.col-sm-offset-12 {
			box-sizing: border-box;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}

		&.col-sm {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			max-width: 100%;
		}

		&.col-sm-1 {
			-ms-flex-preferred-size: 8.33333333%;
			flex-basis: 8.33333333%;
			max-width: 8.33333333%;
		}

		&.col-sm-2 {
			-ms-flex-preferred-size: 16.66666667%;
			flex-basis: 16.66666667%;
			max-width: 16.66666667%;
		}

		&.col-sm-3 {
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			max-width: 25%;
		}

		&.col-sm-4 {
			-ms-flex-preferred-size: 33.33333333%;
			flex-basis: 33.33333333%;
			max-width: 33.33333333%;
		}

		&.col-sm-5 {
			-ms-flex-preferred-size: 41.66666667%;
			flex-basis: 41.66666667%;
			max-width: 41.66666667%;
		}

		&.col-sm-6 {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			max-width: 50%;
		}

		&.col-sm-7 {
			-ms-flex-preferred-size: 58.33333333%;
			flex-basis: 58.33333333%;
			max-width: 58.33333333%;
		}

		&.col-sm-8 {
			-ms-flex-preferred-size: 66.66666667%;
			flex-basis: 66.66666667%;
			max-width: 66.66666667%;
		}

		&.col-sm-9 {
			-ms-flex-preferred-size: 75%;
			flex-basis: 75%;
			max-width: 75%;
		}

		&.col-sm-10 {
			-ms-flex-preferred-size: 83.33333333%;
			flex-basis: 83.33333333%;
			max-width: 83.33333333%;
		}

		&.col-sm-11 {
			-ms-flex-preferred-size: 91.66666667%;
			flex-basis: 91.66666667%;
			max-width: 91.66666667%;
		}

		&.col-sm-12 {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-sm-offset-0 {
			margin-left: 0;
		}

		&.col-sm-offset-1 {
			margin-left: 8.33333333%;
		}

		&.col-sm-offset-2 {
			margin-left: 16.66666667%;
		}

		&.col-sm-offset-3 {
			margin-left: 25%;
		}

		&.col-sm-offset-4 {
			margin-left: 33.33333333%;
		}

		&.col-sm-offset-5 {
			margin-left: 41.66666667%;
		}

		&.col-sm-offset-6 {
			margin-left: 50%;
		}

		&.col-sm-offset-7 {
			margin-left: 58.33333333%;
		}

		&.col-sm-offset-8 {
			margin-left: 66.66666667%;
		}

		&.col-sm-offset-9 {
			margin-left: 75%;
		}

		&.col-sm-offset-10 {
			margin-left: 83.33333333%;
		}

		&.col-sm-offset-11 {
			margin-left: 91.66666667%;
		}
	}

	@media only screen and (min-width: 64em) {
		&.container {
			max-width: 65rem;
		}

		&.col-md,
		&.col-md-1,
		&.col-md-2,
		&.col-md-3,
		&.col-md-4,
		&.col-md-5,
		&.col-md-6,
		&.col-md-7,
		&.col-md-8,
		&.col-md-9,
		&.col-md-10,
		&.col-md-11,
		&.col-md-12,
		&.col-md-offset-0,
		&.col-md-offset-1,
		&.col-md-offset-2,
		&.col-md-offset-3,
		&.col-md-offset-4,
		&.col-md-offset-5,
		&.col-md-offset-6,
		&.col-md-offset-7,
		&.col-md-offset-8,
		&.col-md-offset-9,
		&.col-md-offset-10,
		&.col-md-offset-11,
		&.col-md-offset-12 {
			box-sizing: border-box;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}

		&.col-md {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			max-width: 100%;
		}

		&.col-md-1 {
			-ms-flex-preferred-size: 8.33333333%;
			flex-basis: 8.33333333%;
			max-width: 8.33333333%;
		}

		&.col-md-2 {
			-ms-flex-preferred-size: 16.66666667%;
			flex-basis: 16.66666667%;
			max-width: 16.66666667%;
		}

		&.col-md-3 {
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			max-width: 25%;
		}

		&.col-md-4 {
			-ms-flex-preferred-size: 33.33333333%;
			flex-basis: 33.33333333%;
			max-width: 33.33333333%;
		}

		&.col-md-5 {
			-ms-flex-preferred-size: 41.66666667%;
			flex-basis: 41.66666667%;
			max-width: 41.66666667%;
		}

		&.col-md-6 {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			max-width: 50%;
		}

		&.col-md-7 {
			-ms-flex-preferred-size: 58.33333333%;
			flex-basis: 58.33333333%;
			max-width: 58.33333333%;
		}

		&.col-md-8 {
			-ms-flex-preferred-size: 66.66666667%;
			flex-basis: 66.66666667%;
			max-width: 66.66666667%;
		}

		&.col-md-9 {
			-ms-flex-preferred-size: 75%;
			flex-basis: 75%;
			max-width: 75%;
		}

		&.col-md-10 {
			-ms-flex-preferred-size: 83.33333333%;
			flex-basis: 83.33333333%;
			max-width: 83.33333333%;
		}

		&.col-md-11 {
			-ms-flex-preferred-size: 91.66666667%;
			flex-basis: 91.66666667%;
			max-width: 91.66666667%;
		}

		&.col-md-12 {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-md-offset-0 {
			margin-left: 0;
		}

		&.col-md-offset-1 {
			margin-left: 8.33333333%;
		}

		&.col-md-offset-2 {
			margin-left: 16.66666667%;
		}

		&.col-md-offset-3 {
			margin-left: 25%;
		}

		&.col-md-offset-4 {
			margin-left: 33.33333333%;
		}

		&.col-md-offset-5 {
			margin-left: 41.66666667%;
		}

		&.col-md-offset-6 {
			margin-left: 50%;
		}

		&.col-md-offset-7 {
			margin-left: 58.33333333%;
		}

		&.col-md-offset-8 {
			margin-left: 66.66666667%;
		}

		&.col-md-offset-9 {
			margin-left: 75%;
		}

		&.col-md-offset-10 {
			margin-left: 83.33333333%;
		}

		&.col-md-offset-11 {
			margin-left: 91.66666667%;
		}
	}

	@media only screen and (min-width: 75em) {
		&.container {
			max-width: 76rem;
		}

		&.col-lg,
		&.col-lg-1,
		&.col-lg-2,
		&.col-lg-3,
		&.col-lg-4,
		&.col-lg-5,
		&.col-lg-6,
		&.col-lg-7,
		&.col-lg-8,
		&.col-lg-9,
		&.col-lg-10,
		&.col-lg-11,
		&.col-lg-12,
		&.col-lg-offset-0,
		&.col-lg-offset-1,
		&.col-lg-offset-2,
		&.col-lg-offset-3,
		&.col-lg-offset-4,
		&.col-lg-offset-5,
		&.col-lg-offset-6,
		&.col-lg-offset-7,
		&.col-lg-offset-8,
		&.col-lg-offset-9,
		&.col-lg-offset-10,
		&.col-lg-offset-11,
		&.col-lg-offset-12 {
			box-sizing: border-box;
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
			flex: 0 0 auto;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
		}

		&.col-lg {
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			max-width: 100%;
		}

		&.col-lg-1 {
			-ms-flex-preferred-size: 8.33333333%;
			flex-basis: 8.33333333%;
			max-width: 8.33333333%;
		}

		&.col-lg-2 {
			-ms-flex-preferred-size: 16.66666667%;
			flex-basis: 16.66666667%;
			max-width: 16.66666667%;
		}

		&.col-lg-3 {
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			max-width: 25%;
		}

		&.col-lg-4 {
			-ms-flex-preferred-size: 33.33333333%;
			flex-basis: 33.33333333%;
			max-width: 33.33333333%;
		}

		&.col-lg-5 {
			-ms-flex-preferred-size: 41.66666667%;
			flex-basis: 41.66666667%;
			max-width: 41.66666667%;
		}

		&.col-lg-6 {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			max-width: 50%;
		}

		&.col-lg-7 {
			-ms-flex-preferred-size: 58.33333333%;
			flex-basis: 58.33333333%;
			max-width: 58.33333333%;
		}

		&.col-lg-8 {
			-ms-flex-preferred-size: 66.66666667%;
			flex-basis: 66.66666667%;
			max-width: 66.66666667%;
		}

		&.col-lg-9 {
			-ms-flex-preferred-size: 75%;
			flex-basis: 75%;
			max-width: 75%;
		}

		&.col-lg-10 {
			-ms-flex-preferred-size: 83.33333333%;
			flex-basis: 83.33333333%;
			max-width: 83.33333333%;
		}

		&.col-lg-11 {
			-ms-flex-preferred-size: 91.66666667%;
			flex-basis: 91.66666667%;
			max-width: 91.66666667%;
		}

		&.col-lg-12 {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			max-width: 100%;
		}

		&.col-lg-offset-0 {
			margin-left: 0;
		}

		&.col-lg-offset-1 {
			margin-left: 8.33333333%;
		}

		&.col-lg-offset-2 {
			margin-left: 16.66666667%;
		}

		&.col-lg-offset-3 {
			margin-left: 25%;
		}

		&.col-lg-offset-4 {
			margin-left: 33.33333333%;
		}

		&.col-lg-offset-5 {
			margin-left: 41.66666667%;
		}

		&.col-lg-offset-6 {
			margin-left: 50%;
		}

		&.col-lg-offset-7 {
			margin-left: 58.33333333%;
		}

		&.col-lg-offset-8 {
			margin-left: 66.66666667%;
		}

		&.col-lg-offset-9 {
			margin-left: 75%;
		}

		&.col-lg-offset-10 {
			margin-left: 83.33333333%;
		}

		&.col-lg-offset-11 {
			margin-left: 91.66666667%;
		}
	}
	/* ===== ===== ===== ===== ===== */


	/* CORNER RADIUS */
	&.rounded {
		&-lg {
			border-radius: $rounded-lg;
		}
		&-md {
			border-radius: $rounded-md;
		}
		&-sm {
			border-radius: $rounded-sm;
		}
	}
	/* ===== ===== ===== ===== ===== */
}
